.container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}

.team-item {
    flex: 1 1 calc(33.33% - 20px);
    border: 1px solid #ccc;
    background-color: lightgray;
    padding: 10px; 
    margin: 10px; 
}

hr {
    height: 2px;
    background-color: black;
}

Header {
    font-family: 'Times New Roman', Times, serif;
}