.container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}

.team-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.33% - 20px);
    border: 1px solid #ccc;
    background-color: lightgray;
    padding: 10px; 
    margin: 10px;
    align-items: center; 
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

hr {
    height: 2px;
    background-color: black;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

header {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

.team-divider {
    width: 100%;
    height: 1px;
    background-color: black;
    border: none;
    border-radius: 2px;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 20px;
}

.position-qb {
    color: red;
}

.position-rb {
    color: green;
}

.position-wr {
    color: blue;
}

.position-te {
    color: orange;
}

.position-icon {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: inline-block;
}
